#container {
    display: flex;
    flex-wrap: wrap;
    width: 256px;
}

.square {
    width: 14px;
    height: 14px;
    border: 1px solid black;
}

.square:hover {
    background-color: aqua;
    transition: all 0s;
}

.secondSquare {
    border: 1px solid black;
}

.secondSquare:hover {
    background-color: magenta;
}